$BackGroundColor : hsl(0, 0%, 100%);
$TopBackGround :hsl(225, 100%, 98%);
$SliderGradient : linear-gradient( to right, hsl(210, 78%, 56%) , hsl(146, 68%, 55%) 70%);
$slider : hsl(0, 0%, 100%); 
$cardBackgroundColor : hsl(227, 47%, 96%);
$cardBackgroundHoverColor : hsl(227, 47%, 94%);
$PrimaryText : hsl(228, 12%, 44%);
$SecondaryText : hsl(230, 17%, 14%); 

$darkModeBackGroundColor : hsl(230, 17%, 14%);
$DarkModeSliderGradient : linear-gradient(to right , hsl(210, 78%, 56%), hsl(146, 68%, 55%) , 70%);
$DarkModeCard : hsl(228, 28%, 20%);
$DarkModeCardHover : hsl(228, 25%, 30%);

